@import "~bootstrap/scss/bootstrap";


.hide {
    display: none !important;
}

body {
    background-color: #c8e6c9;
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#techIcons {
    background-color: rgba(0, 0, 0, 0.60);
    color: limegreen;
    border-radius: 2em;
    padding: .5em;
    border: limegreen dotted 2px;
    padding-left: 2em;
    margin-top: 1em;
  }


h1, h2, h3, footer, .btn{
    background-color: black;
    /* text-align: center; */
    color: limegreen;
    padding: 1em;
    border: 5px double limegreen;
    border-radius: 2em;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 5px 5px 10px rgb(45, 112, 48);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}


#bioPage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* margin: 5em; */
    align-items: center;
}

#bioPage img {
    width: 33%;
    height: 33%;
    border: 3px solid black;
    border-radius: 20em;
    align-self: center;
    margin: 2em;
}

@media only screen and (max-width: 650px) {
    #bioPage {
        flex-direction: column;
        align-content: center;
        margin: 0 3em 0 0em;
        justify-content: center;
        text-align: justify;
    }

    #bioPage img {
        width: 50%;
        height: 50%;
    }
}

#bioPage p::first-letter {
    font-size: 150%;
    font-family: 'Press Start 2P', cursive;
}


#navLinks {
    display: flex;
    /* flex-flow: row; */
    justify-content: space-evenly;
    margin: 2em;
    font-weight: bolder;
}

.page-footer {
    display: flex;
    justify-content: space-around;
    margin: 1em;

}

i.fab, i.fas {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 3em;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 2em;
    border: 1px solid white;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    border: 1px solid white;
  }

.fa-instagram {
    background: #125688;
    color: white;
    border: 1px solid white;
  }

.fa-github {
    background: black;
    color: white;
    border: 1px solid white;
}

.fa-deviantart {
    background: black;
    color: green;
    width: 1.75em;
    border: 1px solid white;
}

.fa-at {
    background: teal;
    color: white;
    border: 1px solid white;
}


#smallGH {
    font-size: 16px;
    padding: 5px;
}

#projectsPage {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    /* width: 29%; */
    margin: .5em;
    padding: .5em;
    border: 2px solid black;
    border-radius: 2em;
    text-align: center;
    box-shadow: 5px 10px 10px rgb(45, 112, 48) ;
}

.card img {
    width: 90%;
    border: 2px solid black;
}

.card p {
    text-align: left;
}

.card strong {
    font-weight: bolder;
}

h3 {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

.card a {
    margin: 1em;
}